@use '../colors';
@use '../size';

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: colors.$background-color-text;
    text-decoration: none;
    // remove underline from links
    &:hover {
        text-decoration: none;
    }
}

@media screen and (max-width: size.$breakpoint-mobile) {
    .listItem {
        padding: 0.25rem;
    }
}
