$background-color: #25282b;
$background-color-text: hsla(0, 0%, 100%, 0.9);
$panel-color: #263256;
$panel-color-text: #b0c4de;
$panel-color-text-title: #ffffff;
$head-background-color: #232f57;
$plus: #00b300;
$red: #ff0000;
$primary-color: #4d9fdc;